#sc-header-containner {
    padding: 0 10px;
    background-color: #2d8cf0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    .l-content {
        text-align: center;
        height: 61px;
        font-size: 21px;
 
    }
}


.ChangeTheme {
    justify-content: space-between;
    display: flex;

    .ThemeButton {
        height: 60px;
        width: 70px;
        border-radius: 5px;
        margin: 0px;
        margin-left: 10px;
    }
}

.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}

.el-icon-arrow-down {
    font-size: 12px;
}

.header-containner {
    padding: 0 20px;
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
        color: #fff;
        font-size: 14px;
        margin-left: 10px;
    }
}
.r-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 设置容器高度 */
}

.el-dropdown-link {
    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

.Setting-content {
    display: flex;
    float: right;
    margin-left: 20px;
}

.el-icon-setting {
    font-size: 30px;
}

//黑色
.sc-theme-dark {
    .header {
        background: #101010;
    }

    .header-text {
        color: white;
    }

    .sc-header {
        background-color: #272929;
    }

    .h-link a:hover {
        background: #0c0202;
    }

    a {
        color: #f2f2f2;
    }

    .h-link a:hover {
        color: #dfdfdf;
    }

    .h-link .actived {
        border-bottom: 2px solid white;
    }

    .h-link .actived a {
        color: white !important;
    }

    .sc-header .user {
        color: #ececec;
    }

    .sc-header .settings {
        color: #d4d2d2;
    }

    .sc-aside .sc-menu {
        background: black;
    }
}


.sc-theme-red,
.sc-theme-red2 {
    .sc-header {
        background-color: rgb(237, 64, 20);
    }

    .header-text {
        color: #dcdfe6;
    }

    .h-link a:hover {
        background: #d71212;
    }

    .h-link .actived {
        border-bottom: 2px solid white;
    }

    .h-link a,
    .h-link .actived a,
    .sc-header .settings,
    .sc-header .user {
        color: white;
    }

    .sc-header .header-text {
        color: #fbfbfb;
    }
}


//蓝色
.sc-theme-blue,
.sc-theme-blue2 {
    .header-text {
        color: #dcdfe6;
    }

    .sc-header {
        background-color: rgb(45, 140, 240);
    }

    .h-link a:hover {
        background: #0170e3;
    }

    .h-link .actived {
        border-bottom: 2px solid white;
    }

    .h-link a,
    .h-link .actived a,
    .sc-header .settings,
    .sc-header .user {
        color: white;
    }

    .sc-header .header-text {
        color: #fbfbfb;
    }
}

.sc-theme-blue {
    .header {
        background-color: rgb(45, 140, 240);
    }
}

.sc-theme-blue2 {
    .header {
        background-color: rgb(0, 104, 214);
    }
}